.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(140, 131, 102, 0.96);
  border: 1px solid #a88071;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: rgba(122, 110, 73, 0.96);
  border-color: #855e50;
}